<html>
 <head>
 	<style>
 	@font-face {
		font-family: 'Avenir';
		src:
		    local('Avenir LT Std 65 Medium'),
		    url('AvenirLTStd-Medium.otf');
	}
 	@font-face {
		font-family: 'Fat';
		src:
		    local('GenerG30'),
		    url('GenerG30');
	}
 	@font-face {
		font-family: '95Black';
		src:
		    local('Avenir LT Std 95 Black'),
		    url('AvenirLTStd-Black.otf');
	}

	h2, h3{
		font-family: 'Avenir LT Std 95 Black';
	}
	p{
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}
	</style>
 </head>
 <body style="padding: 20px 50px;">
  <center>
  <img src="SockClub.png" width="250px;"/>
  </center>
  <br>
  <br>
   	<h3><b>TO: {{ToName}}</b></h3>
 	<h3>FROM: {{FromName}}</h3>
 	<p>{{MESSAGE}}</p>
  	<br> 
  	<hr width="50" size="4" color="#000">
  	<br>
	<p>Here it is folks, August. The hottest month of the year. Things are dry dusty and desolate. We encourage you to embrace the heat, and invite you to sweat it out in this month's sock: the Diamondback. This sock is serving up some hot colors and great shapes inspired by the western landscape and poisonous reptiles that live there. You may be feeling a little hot, but trust us, you look pretty cool.</p>

	<p>As always, we would love to see your photos and comments about the socks! Please visit our Facebook page <i>facebook.com/SockClub</i> or twitter <i>twitter.com/SockClub</i> and share it with all your friends and family (many of whom made this delivery possible for you). </p>

	<p>If you have any questions email us at support@sotmclub.com</p>
	<p>Best Regards,</p>
	<p>The Sock Club Guys</p>
	<img src="DanesSignature.png" />
	<img src="noahsignature.png" />
	<p>{{Size}}</p>
	<p>I'm not trying to be sexy. It's just my way of expressing myself when I move around.</p>
	<p>- Elvis Presley</p>
  </body>
</html>