<html>
 <head>
 	<style>
 	@font-face {
		font-family: 'Avenir LT Std';
		src:
		    local('Avenir LT Std 65 Medium'),
		    url('AvenirLTStd-Medium.otf') format("opentype");
	}
 	@font-face {
		font-family: 'Fat';
		src:
		    local('GenerG30'),
		    url('GenerG30');
	}
 	@font-face {
		font-family: '95Black';
		src:
		    local('Avenir LT Std 95 Black'),
		    url('AvenirLTStd-Black.otf') format("opentype");
	}

	h2, h3{
		font-family: '95Black';
		text-transform: uppercase;
		font-weight: bold;
	}
	p{
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}
	</style>
 </head>
 <body style="padding: 20px 50px;">
  <center>
  <img src="SockClub.png" width="250px;"/>
  </center>
  <br>
  <br>
   	<h3><b>TO: {{ToName}}</b></h3>
 	<h3>FROM: {{FromName}}</h3>
 	<p>{{MESSAGE}}</p>
  	<br> 
  	<hr width="50" size="4" color="#000">
  	<br>
  <p>
    Dear Subscriber,
  </p>
	<p>
    Take a deep breath in and lift your head to the sky...breath out...do you feel that? A wave of
    calm brushes over, making it feel like everything is going to be okay. With a breath of fresh air,
    open skies, and maybe even a bird chirping, the first signs of spring are finally here (no more
    seasonal depression, yay)! After what seemed like a never-ending winter, the temperature is
    rising and buds are beginning to blossom. Our March socks are inspired by these pops of
    green, as they remind us that fresh beginnings are always possible- even after months of
    gloom.
	</p>

	<p>
		Life has a funny way of throwing curve balls at you when you least expect it, and to pick yourself
    back up can be one heck of a challenge. It doesn't even have to be curveballs that make life
    hard, life sometimes just is hard. The beautiful thing about humanity is that we have the ability to
    create a fresh start for ourselves. We CAN begin again. We CAN make it to see the buds
    blossom in spring. Without fail, the trees will bloom and the grass will grow big and tall - just as
    we can grow within ourselves. I hope that as you wear these socks, you're reminded that even
    the coldest of winters won't stop spring's plans nor will it stop you from thriving.
    You can use this quick mantra to freshen the mind:
	</p>

	<p>
    Take a deep breath in and hold it. Say to yourself, "I am abundant." Release into an exhale.
	</p>

	<p>Best,</p>
	<img src="TeamSignatures.png" width="200px;"/>
	<p>The Sock Club Team</p>
	<p>{{Size}} {{Gender}}</p>
	<br>
   	<center><p style="text-align: center;">If for any reason the socks do not live up to your expectations, please let our customer service team know what we can do to make them your favorite socks! Give us a call Monday-Friday (9AM - 6PM CST) at 512-981-6437 or email us anytime at support@sockclub.com</p></center>
  </body>
</html>