<html>
 <head>
 	<style>
 	@font-face {
		font-family: 'Avenir LT Std';
		src:
		    local('Avenir LT Std 65 Medium'),
		    url('AvenirLTStd-Medium.otf') format("opentype");
	}
 	@font-face {
		font-family: 'Fat';
		src:
		    local('GenerG30'),
		    url('GenerG30');
	}
 	@font-face {
		font-family: '95Black';
		src:
		    local('Avenir LT Std 95 Black'),
		    url('AvenirLTStd-Black.otf') format("opentype");
	}

	h2, h3{
		font-family: '95Black';
		text-transform: uppercase;
		font-weight: bold;
	}
	p{
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}
	</style>
 </head>
 <body style="padding: 20px 50px;">
  <center>
  <img src="SockClub.png" width="250px;"/>
  </center>
  <br>
  <br>
   	<h3><b>TO: {{ToName}}</b></h3>
 	<h3>FROM: {{FromName}}</h3>
 	<p>{{MESSAGE}}</p>
  	<br> 
  	<hr width="50" size="4" color="#000">
  	<br>

	<p>As winter comes and the weather continues to get colder, spending evenings indoors wrapped in a blanket becomes increasingly appealing. Your November sock, The Pinwheel, is inspired by the tradition of quilting, and the Pinwheel quilt pattern in particular. Quilting originated from the need to make the most of scraps of fabric in the early days of the colonies, and grew into a truly American art form. We hope your November socks keep you cozy and warm, whether you are wearing them out with your favorite boots, or at home with your favorite people.</p>

	<p>As always, we love to see your photos and comments about the socks! Connect with us on Instagram (@sockclub), Twitter (@sockclub), and Facebook (facebook.com/sockclub) and share your creative sock photos with us.</p>

	<p>Best,</p>
	<img src="TeamSignatures.png" width="200px;"/>
	<p>The Sock Club Team</p>
	<p>{{Size}} {{Gender}}</p>
	<br>
   	<center><p style="text-align: center;">If for any reason the socks do not live up to your expectations, please let our customer service team know what we can do to make them your favorite socks! Give us a call Monday-Friday (9AM - 6PM CST) at 512-981-6437 or email us anytime at support@sockclub.com</p></center>
  </body>
</html>