<html>
 <head>
 	<style>
 	@font-face {
		font-family: 'Avenir LT Std';
		src:
		    local('Avenir LT Std 65 Medium'),
		    url('AvenirLTStd-Medium.otf') format("opentype");
	}
 	@font-face {
		font-family: 'Fat';
		src:
		    local('GenerG30'),
		    url('GenerG30');
	}
 	@font-face {
		font-family: '95Black';
		src:
		    local('Avenir LT Std 95 Black'),
		    url('AvenirLTStd-Black.otf') format("opentype");
	}

	h2, h3{
		font-family: '95Black';
		text-transform: uppercase;
		font-weight: bold;
	}
	p{
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}


	ul, li {
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}

	
	</style>
 </head>
 <body style="padding: 20px 50px;">
  <center>
  <img src="SockClub.png" width="250px;"/>
  </center>
  <br>
  <br>
   	<h3><b>TO: {{ToName}}</b></h3>

    <br> 
  	<hr width="50" size="4" color="#000">
  	<br>

	<p>
		The first month of the New Year is over! Did you also feel like that flew by? We are now officially
		in February, the proclaimed month of love. Our February Socks of the Month were designed
		around the notion of love and what constitutes it. Simply put, love is complex, yet beautiful.
	</p>

	<p>
		Love goes beyond just couples and partners; you can have love for your friends, family, and furry
		friends. Love can also be applied to principles, beliefs, and activities. However, most importantly,
		love starts with you, and the ability to love yourself and all that you are. A simple concept, yet
		difficult for many to achieve. I hope that when you wear these socks, they act as a reminder that
		you are loved and that you love yourself.
	</p>

	<p>
		To embrace the exciting possibilities of the New Year and the season of love amongst us, I ask
		you to take a few moments to answer the following 5 questions, engaging in a self-love practice.
		I promise it will make you smile after:
	</p>


<ul>
    <li>When do you feel happiest?
        <ul>
            <li>a. </li>
        </ul>
    <li>Write three things you love about yourself?
        <ul>
            <li>a. </li>
            <li>b. </li>
            <li>c. </li>
        </ul>
    </li>
    <li>What is the most recent thing (no matter how small) you are proud of yourself for?
        <ul>
            <li>a. </li>
        </ul>
    </li>
    <li>What are 3 ways you can show yourself love this week?
        <ul>
            <li>a. </li>
            <li>b. </li>
            <li>c. </li>
        </ul>
    </li>
    <li>Write 5 positive affirmations that you can recite out loud daily
        <p> (Ex. By being myself, I bring happiness to others. I am loved and worthy. I am growing and going at my own pace.) </p>
        <ul>
            <li>a. </li>
            <li>b. </li>
            <li>c. </li>
        </ul>
    </li>
</ul>


	<p>Best,</p>
	<img src="TeamSignatures.png" width="200px;"/>
	<p>The Sock Club Team</p>
	<p>{{Size}} {{Gender}}</p>
	<br>
   	<center><p style="text-align: center;">If for any reason the socks do not live up to your expectations, please let our customer service team know what we can do to make them your favorite socks! Give us a call Monday-Friday (9AM - 6PM CST) at 512-981-6437 or email us anytime at support@sockclub.com</p></center>
  </body>
</html>