<html>
 <head>
 	<style>
 	@font-face {
		font-family: 'Avenir LT Std';
		src:
		    local('Avenir LT Std 65 Medium'),
		    url('AvenirLTStd-Medium.otf') format("opentype");
	}
 	@font-face {
		font-family: 'Fat';
		src:
		    local('GenerG30'),
		    url('GenerG30');
	}
 	@font-face {
		font-family: '95Black';
		src:
		    local('Avenir LT Std 95 Black'),
		    url('AvenirLTStd-Black.otf') format("opentype");
	}

	h2, h3{
		font-family: '95Black';
		text-transform: uppercase;
		font-weight: bold;
	}
	p{
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}


	ul, li, ol{
		font-family: 'Avenir LT Std';
		line-height: 150%;
		letter-spacing: normal;
	}

	
	</style>
 </head>
 <body style="padding: 20px 50px;">
  <center>
  <img src="SockClub.png" width="250px;"/>
  </center>
  <br>
  <br>
  <h3><b>TO: {{ToName}}</b></h3>

  <br> 
  <hr width="50" size="4" color="#000">
  <br>

  <p>
    Dear {{ToName}},
  </p>

  <p>
    "Let's all take a collection deep breath. Do you feel just a little bit calmer? It's safe to say that 
    life has felt busy lately...like, really busy. Between the spring cleaning, soaking up the sun and 
    getting back into the swing of things post-pandemic, it seems as if our to-do list is growing longer each
    day. 
	</p>

  <p>
    As we were discussing what our inspiration was for our May socks, we were inspired by well... ourselves.
    Instead of searching for the latest and greatest trend, we thought, "let's do what we do best". This 
    month's socks are a classic take on our most favorite geometric and stripe patterns with bright pops of color. 
  </p>

  <p>
    We hope that you gain inspiration from our "let's do what we do best" sentiment. When our schedule is packed, 
    it's important to remember that going back to the basics is okay and encouraged. Make that to-do list, pack your
    Google calendar with color-coded time slots, maybe even take a day off to reset! Listen to what you need in this busy
    time and be kind to yourself. 
  </p>

  <p>
    Time-blocking excercise: Block out specific times in your day to get related tasks done. Have a bunch of emails? Block
    out time from 10AM-12PM to answer them. Need to do laundry? Time yourself and do 30 minutes of laundry in the evening. 
    It can work wonders!
  </p>

	<p>Best,</p>
	<img src="TeamSignatures.png" width="200px;"/>
	<p>The Sock Club Team</p>
	<p>{{Size}} {{Gender}}</p>
	<br>
   	<center><p style="text-align: center;">If for any reason the socks do not live up to your expectations, please let our customer service team know what we can do to make them your favorite socks! Give us a call Monday-Friday (9AM - 6PM CST) at 512-981-6437 or email us anytime at support@sockclub.com</p></center>
  </body>
</html>
